<div
  class="header-title"
  style="background-image: url(assets/images/bg-img-10.png)"
>
  <div class="container">
    <div class="title-base">
      <hr class="anima" />
      <h1>{{ this.data_translate.intro.title[this.language_name] | uppercase}}</h1>
      <p>
        {{ this.data_translate.intro.content[this.language_name] }}
      </p>
    </div>
  </div>
</div>
<div class="section-empty">
  <div class="container content">
    <div class="row">
      <ng-container *ngFor="let f of this.data_translate.field_list">
        <div class="col-md-3 boxed shadow-1 white">
          <div class="icon-box icon-box-top-bottom">
            <div class="icon-box-cell">
              <i class="fa-cloud-upload fa text-xl"></i>
            </div>
            <div class="icon-box-cell">

              <label class="text-m">{{f[this.language_name]}}</label>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <hr class="space" />
    <div class="row">
      <div class="col-md-12">
        <h2>{{this.data_translate.nlp.title[this.language_name] | uppercase}}</h2>
        <hr class="space m" />
        <div class="row">
          <div class="col-md-12">
            <div class="tab-box right" data-tab-anima="fade-left">
              <div class="panel-box col-md-8">
                <ng-container *ngFor="let ct of this.data_translate.nlp.content[this.language_name]">
                <span [innerHTML]='ct'></span>
                </ng-container>
               
                
              </div>
              <ul class="nav nav-tabs col-md-4">
                
                <li *ngFor="let item of this.data_translate.nlp.tree[this.language_name]"><a href="#">{{item}}</a></li>
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-empty">
  <div class="container content">
    <div class="row vertical-row">
      <div class="col-md-5">
        <h2>{{this.data_translate.cv.title[this.language_name] | uppercase}}</h2>
        <hr class="space m" />
        <span [innerHTML]='this.data_translate.cv.content[this.language_name]'></span>
      </div>
      <div class="col-md-7">
        <img src="assets/images/computer-vision.png" alt="" />
      </div>
    </div>
  </div>
</div>
<div
  class="section-bg-image bg-bottom"
  style="background-image: url(assets/images/bg-24.png)"
>
  <div class="container content">
    <div class="row vertical-row">
      <div class="col-md-7">
        <div class="tab-box left" data-tab-anima="fade-left">
          <ul class="nav nav-tabs col-md-4">
           
            <li *ngFor="let item of this.data_translate.ds.tree[this.language_name]"><a href="#">{{item}}</a></li>
          </ul>
          <div class="panel-box col-md-8">
            <ng-container *ngFor="let item of this.data_translate.ds.content_list[this.language_name]">
                <span [innerHTML]='item'></span>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <h2>
            {{this.data_translate.ds.title[this.language_name]|uppercase}}
        </h2>
        <hr class="space m" />
        <p>
         {{this.data_translate.ds.content[this.language_name]}}
        </p>
      </div>
    </div>
  </div>
  <hr class="space" />
</div>
<div
  class="section-bg-image bg-bottom"
  style="background-image: url(../images/bg-24.png)"
>
  <div class="container content">
    <div class="row vertical-row">
      <div class="col-md-6">
        <img src="assets/images/machine-leaning.png" alt="" />
      </div>
      <div class="col-md-6">
        <h2>{{this.data_translate.ml.title[this.language_name]}}</h2>
        <span [innerHTML]='this.data_translate.ml.content[this.language_name]'></span>
      </div>
    </div>
  </div>
  <hr class="space" />
</div>
<i class="scroll-top scroll-top-mobile show fa fa-sort-asc"></i>
