<div class="section-empty">
  <div class="container content">
    
    <iframe
      _ngcontent-qfg-c15=""
      loading="lazy"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.694721050656!2d105.78006221493287!3d21.04489758598958!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab3327ee6777%3A0x2f6a232e9ed2243f!2zNDg5IEhvw6BuZyBRdeG7kWMgVmnhu4d0LCBD4buVIE5odeG6vywgQ-G6p3UgR2nhuqV5LCBIw6AgTuG7mWk!5e0!3m2!1svi!2s!4v1624508584980!5m2!1svi!2s"
      width="99.9%"
      height="425"
      frameborder="0"
      allowfullscreen=""
      aria-hidden="false"
      tabindex="0"
      style="border: 0"
    ></iframe>
    <hr class="space" />
    <div class="row proporzional-row">
      <div class="col-md-6 col-sm-12">
        <h2 class="text-color">Liên hệ ngay</h2>
        <hr class="space s" />
        <form action="#" class="form-box form-ajax" method="post">
          <div class="row">
            <div class="col-md-4">
              <p>Tên của bạn(Your Name)</p>
              <input
                id="name"
                name="name"
                placeholder=""
                type="text"
                class="form-control form-value"
                required
              />
            </div>
            <div class="col-md-4">
              <p style="margin-bottom: 30px;">Email</p>
              <input
                id="email"
                name="email"
                placeholder=""
                type="email"
                class="form-control form-value"
                required
              />
            </div>
            <div class="col-md-4">
              <p>Số điện thoại(Phone number)</p>
              <input
                id="phone"
                name="phone"
                placeholder=""
                type="text"
                class="form-control form-value"
              />
            </div>
          </div>
          <hr class="space xs" />
          <div class="row">
            <div class="col-md-12">
              <p>Lời nhắn(Message)</p>
              <textarea
                id="messagge"
                name="messagge"
                placeholder=""
                class="form-control form-value"
                required
              ></textarea>
              <hr class="space s" />
              <a class="circle-button btn-sm btn"
                ><i class="fa fa-send-o"></i>Send messagge</a
              >
            </div>
          </div>
          <div class="success-box">
            <div class="alert alert-success">
              Congratulations. Your message has been sent successfully
            </div>
          </div>
          <div class="error-box">
            <div class="alert alert-warning">
              Error, please retry. Your message has not been sent
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-6 boxed-inverse shadow-1 col-sm-12">
        <div class="row">
          <div class="col-md-6">
            <ul class="fa-ul">
              <li>
                <i class="fa-li fa fa-home"></i> Phòng 316, Tòa nhà 489 Hoàng
                Quốc Việt, Cầu Giấy, Hà Nội.(Room 316, Trong Dong Building, 389 Hoang Quoc Viet, Cau Giay, Hanoi.)
              </li>
              <!-- <li>
                            <i class="fa-li fa fa-home"></i> Studio Massimo PO Box 16120, Street
                        </li> -->
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-skype"></i> AIAcademy Viet Nam</li>
              <li><i class="fa-li fa fa-headphones"></i> (+84) 24 6662 7166</li>
              <li><i class="fa-li fa fa-fax"></i> (+84) 24 6662 7166</li>
              <li>
                <i class="fa-li fa fa-envelope-o"></i> anhnq@aiacademy.edu.vn
              </li>
            </ul>
          </div>
        </div>
        <hr class="space m" />
        <div class="btn-group social-group btn-group-icons">
          <a
            target="_blank"
            href="https://www.facebook.com/AIAcademyVN"
            data-social="share-facebook"
            data-toggle="tooltip"
            data-placement="top"
            title="Facebook"
          >
            <i class="fa fa-facebook text-s circle"></i>
          </a>
          <a
            target="_blank"
            href="#"
            data-social="share-twitter"
            data-toggle="tooltip"
            data-placement="top"
            title="Twitter"
          >
            <i class="fa fa-twitter text-s circle"></i>
          </a>
          <a
            target="_blank"
            href="#"
            data-social="share-google"
            data-toggle="tooltip"
            data-placement="top"
            title="Google+"
          >
            <i class="fa fa-google-plus text-s circle"></i>
          </a>
          <a
            target="_blank"
            href="#"
            data-social="share-linkedin"
            data-toggle="tooltip"
            data-placement="top"
            title="LinkedIn"
          >
            <i class="fa fa-linkedin text-s circle"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
