.navbar{
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
}
.img-languge{
    max-width: 30px;
    max-height: 19.34px;
    margin: 0px;
    margin-bottom: 3px;
}
.active{
    border-bottom: 2px solid #5584ff; 
}
.item:hover{
    border-bottom: 2px solid #5584ff;
}