<div id="preloader"></div>
<header class="fixed-top scroll-change" data-menu-anima="fade-bottom">
  <div
    class="navbar navbar-default mega-menu-fullwidth navbar-fixed-top"
    role="navigation"
  >
    <div class="navbar navbar-main">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle">
            <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand" href="/">
            <img
              class="logo-default"
              src="../../../assets/logo.png"
              alt="logo"
            />
            <img
              class="logo-retina"
              src="../../../assets/images/logo-retina-black.png"
              alt="logo"
            />
          </a>
        </div>
        <div class="collapse navbar-collapse">
          <div class="nav navbar-nav navbar-right" style="display: flex;justify-content: center;align-items: center;">
            <ul
              
              class="nav navbar-nav"
              id="menu"
              (click)="onButtonGroupClick($event)"
            >
              <li class="item" id="home">
                <a routerLink="/" class="dropdown-toggle" role="button">{{
                  this.data_translate.home[this.language_name]
                }}</a>
              </li>

              <li class="item" id="courses">
                <a
                  routerLink="/courses"
                  class="dropdown-toggle"
                  role="button"
                  >{{ this.data_translate.training[this.language_name] }}</a
                >
              </li>
              <li class="item" id="research">
                <a
                  routerLink="/research"
                  class="dropdown-toggle"
                  role="button"
                  >{{ this.data_translate.research[this.language_name] }}</a
                >
              </li>
              <li class="item" id="products">
                <a
                  routerLink="/products"
                  class="dropdown-toggle"
                  role="button"
                  >{{ this.data_translate.product[this.language_name] }}</a
                >
              </li>
              <li class="item" id="blogs">
                <a routerLink="/blogs" class="dropdown-toggle" role="button">{{
                  this.data_translate.partner[this.language_name]
                }}</a>
              </li>
              <li class="item" id="contacts">
                <a
                  routerLink="contacts"
                  class="dropdown-toggle"
                  role="button"
                  >{{ this.data_translate.contact[this.language_name] }}</a
                >
              </li>
            </ul>
            <div>
              <a (click)="ChangeLanguage()">
                <img
                  src="../../../assets/images/flags/{{
                    this.language_structure[this.language_name]['img']
                  }}"
                  width="30"
                />
                <span style="margin-left: 5px">{{
                  this.language_structure[this.language_name]["name"]
                }}</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
