<i class="scroll-top scroll-top-mobile show fa fa-sort-asc"></i>
<footer class="footer-base">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-3 footer-center text-left">
                    <img width="150" src="../../../assets/images/logo.png" alt="" />
                </div>
                <div class="col-md-6 footer-left text-left">
                    <p>Phòng 316, Tòa nhà 489 Hoàng Quốc Việt, Cầu Giấy, Hà Nội.</p>
                    <div class="tag-row">
                        <span>anhnq@aiacademy.edu.vn</span>
                        <span>(+84) 24 6662 7166</span>
                    </div>
                </div>
                <div class="col-md-3 footer-left text-right text-left-sm">
                    <div class="btn-group social-group btn-group-icons">
                        <a target="https://www.facebook.com/AIAcademyVN/" href="#" data-social="share-facebook">
                            <i class="fa fa-facebook text-xs circle"></i>
                        </a>

                        <a target="_blank" href="#" data-social="share-twitter">
                            <i class="fa fa-twitter text-xs circle"></i>
                        </a>

                        <a target="_blank" href="#" data-social="share-google">
                            <i class="fa fa-google-plus text-xs circle"></i>
                        </a>

                        <a target="_blank" href="#" data-social="share-linkedin">
                            <i class="fa fa-linkedin text-xs circle"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row copy-row">
            <div class="col-md-12 copy-text">
                Copyright © 2020 AI Academy Viet Nam. <span>Designed with all the love in the world by Dev AI Academy</span>
            </div>
        </div>
    </div>
</footer>