<div class="section-empty">
    <div class="container content">
        <div class="row vertical-row">
            <div class="col-md-7 col-sm-6">
                <div class="title-base text-left">
                    <hr />
                    <h2>{{this.data_translate.intro.title[this.language_name]}}</h2>
                    <p>{{this.data_translate.intro.content[this.language_name]}}</p>
                </div>
            </div>
            <div class="col-md-5 col-sm-6">
                <img src="assets/images/bg-img-8.png" alt="" />
            </div>
        </div>
    </div>
</div>
<div class="section-empty">
    <div class="container content">
        <div class="row vertical-row">
            <div class="col-md-5 hidden-sm visible-xs">
                <img src="assets/images/box-1.png" alt="" />
            </div>
            <div class="col-md-7" *ngIf="this.data_translate.dssama as d">
                <h1 class="text-color">{{d.title[this.language_name] | uppercase}}</h1>
                <span [innerHTML]='d.content[this.language_name]'></span>
            </div>
        </div>
        <hr class="space" />
        <hr class="space" />
        <div class="row vertical-row" data-anima="fade-bottom">
            <div class="col-md-7" *ngIf="this.data_translate.project_on_dssama as p">
                <h1 class="text-color">{{p.title[this.language_name]|uppercase}}</h1>
                <hr class="space m" />
                <span [innerHTML]='p.content[this.language_name]'></span>
            </div>
            <div class="col-md-5 text-right hidden-sm visible-xs">
                <img src="assets/images/box-2.png" alt="" />
            </div>
        </div>
        <hr class="space" />
    </div>
</div>
<i class="scroll-top scroll-top-mobile show fa fa-sort-asc"></i>