<div class="section-empty">
  <div class="container content">
    <div class="row vertical-row">
      <div class="col-md-7 col-sm-6">
        <div class="title-base text-left">
          <hr />
          <h2>
            VIỆN TRÍ TUỆ NHÂN TẠO <br />
            AI ACADEMY VIET NAM
          </h2>
          <p>
            {{this.data_translate.intro[this.language_name]}}
          </p>
        </div>
      </div>
      <div class="col-md-5 col-sm-6">
        <img src="../../../assets/images/bg-img-4.jpg" alt="" />
      </div>
    </div>
  </div>
</div>
<div class="section-empty">
  <div class="container content">
    <div class="row vertical-row">
      <div class="col-md-6 boxed-inverse shadow-1 col-sm-12">
        <div class="list-items">
          <div class="list-item" *ngFor='let ct of this.data_translate.sub_content[this.language_name];let i = index'>
            <div class="row">
              <div class="col-md-9">
                <h3>{{i+1}}. {{ct.title}}</h3>
                <p>
                  {{ct.content}}
                </p>
              </div>
              <div class="col-md-3">
                <span></span>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <h1 class="text-xl text-color">
          VIỆN TRÍ TUỆ NHÂN TẠO AI ACADEMY VIET NAM
        </h1>
        <p>
            {{this.data_translate.content[this.language_name]}}
        </p>
      </div>
    </div>
  </div>
</div>
<div class="section-empty section-item">
  <div class="container content">
    <div class="grid-list gallery">
      <div class="col-md-12 col-sm-12">
        <h1 class="text-center text-color">Our Scientific Advisory</h1>
      </div>
      <hr class="space" />
      <div class="grid-box row">
        <ng-container *ngFor='let teacher of this.teacher_list'>
          <div class="grid-item col-md-3">
            <div
              class="img-box adv-img adv-img-half-content"
              data-anima="fade-left"
              data-trigger="hover"
            >
              <i class="im-thumb anima"></i>
              <a href="#" class="img-box lightbox anima-scale-up anima">
                <img
                  src="../../../assets/images/teacher/{{teacher.img}}"
                  alt="{{teacher.name}}"
                />
              </a>
              <div class="caption">
                <h2>{{teacher.name}}</h2>
                <p>{{teacher.specialize}}</p>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
