<div
  class="header-title"
  style="background-image: url('assets/images/bg-img-10.png')"
>
  <div class="container">
    <div class="title-base">
      <hr class="anima" />
      <h1>{{ this.data_translate.intro.title[this.language_name] }}</h1>
      <p>
        {{ this.data_translate.intro.content[this.language_name] }}
      </p>
    </div>
  </div>
</div>
<div class="section-empty section-item">
  <div class="container content">
    <div class="row">
      <ng-container *ngFor="let ct of this.data_translate.content">
        <div class="col-md-6" style="height: 100vh;margin-bottom:60px">
          <div class="list-group pricing-table">
            <div class="list-group-item pricing-price" style="font-size: 26px">
              {{ct.price[this.language_name]}}
            </div>
            <div class="list-group-item pricing-name">
              <h3>{{ct.title[this.language_name] | uppercase}}</h3>
            </div>
            <div [innerHTML]='ct.content[this.language_name]'></div>
          </div>
        </div>
        
      </ng-container>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function () {
    var height_left1 = $("#left-1").height();
    var height_right2 = $("#right-2").height();

    $("#right-1").height(height_left1);
    $("#left-2").height(height_right2);
  });
</script>
