<div class="header-video white">
  <div class="videobox">
    <video autoplay loop muted poster="assets/images/video-poster.jpg">
      <source src="assets/images/video.mp4" type="video/mp4" />
    </video>
  </div>
  <div class="overlaybox">
    <div class="container">
      <div class="title-base" *ngIf="this.data_translate.intro as i">
        <hr class="anima" />
        <h1>{{ i.title[this.language_name] }}</h1>
        <p>
          {{ i.content[this.language_name] }}
        </p>
      </div>
    </div>
  </div>
</div>
<div class="section-bg-color bg-white">
  <div class="container content">
    <div class="row">
      <div class="col-md-9 col-sm-12">
        <div class="grid-list grid-layout grid-15">
          <div class="content-box">
            <div
              class="grid-item col-md-6"
              
              *ngFor="let ct of this.data_translate.content"
            >
              <div
                class="
                  advs-box advs-box-top-icon-img
                  niche-box-post
                  boxed-inverse
                "
                data-anima="scale-rotate"
                data-trigger="hover"
              >
                <!-- <div class="block-infos"> -->
                <!-- <div class="block-data">
                                        <p class="bd-day">13</p>
                                        <p class="bd-month">July 2018</p>
                                    </div> -->
                <!-- <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                </div> -->
                <a class="img-box" href="#"
                  ><img
                    class="anima"
                    src="assets/images/blog/{{ ct.img }}"
                    alt=""
                /></a>
                <div class="advs-box-content">
                  <h2 class="text-m">
                    <a href="#">{{ ct.title[this.language_name] }}</a>
                  </h2>
                  <!-- <div class="tag-row">
                                        <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                                        <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                                    </div> -->
                  <p class="niche-box-content">
                    <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. -->
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <i class="scroll-top scroll-top-mobile show fa fa-sort-asc"></i>

      <script src="../../../assets/scripts/jquery.twbsPagination.min.js"></script>
      <script src="../../../assets/scripts/jquery.magnific-popup.min.js"></script>
    </div>
  </div>
</div>
